.hero {
  // width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  overflow: hidden;
  // padding: 5rem;
  .hero__content {
    width: 90%;
    height: auto;
    // margin: 0 auto;
    margin-top: 20rem;
    text-align: center;

    h3 {
      font-size: $regular-font;
      color: $secondary-color;
      font-weight: $regular-weigth;
      text-align: start;
    }
    h2 {
      font-size: $jumbo-font;
      font-weight: $regular-weigth;
      color: $main-color;
      margin: 2rem 0;
    }
    
    p {
      font-size: $large-font;
      color: $third-color;
      text-align: end;
      span {
        color: $secondary-color;
      }
      // text-align: end;
    }

    .hero__contact__list {
      display: flex;
      justify-content: flex-end;
      
      a {
        margin-top: 2rem;
        margin-left: 1rem;
        text-decoration: none;
        li {

          .icon {
            color: $third-color
          }
        }
      }
    }
  }

  .hero__image {
    position: absolute;
    right: 0;
    top: -10%;
    width: 100%;
    height: 100vh;
    z-index: -1;

    .random--icon {
      position: absolute;
      right: -10rem;
      animation: translate_x 20s ease-out infinite ;

      // opacity: 0;
      z-index: 1;
      .icon {
        font-size: $extra-large-font;
        &:nth-child(1) {
          filter: blur(10px) ;
          position: absolute;
          // left: ;
        }

      }
    }
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }

}

@keyframes translate_x {
  0% {
    transform: translateX(10rem) rotate(-45deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: translateX(-150rem) rotate(0deg);
    opacity: 0;
  }
}