.hero {
  // width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: center;
  overflow: hidden;
  // padding: 5rem;
  .hero__content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: $jumbo-font;
      color: $secondary-color;
    }
    
    p {
      font-size: $extra-large-font;
      // text-align: end;
    }

    .hero__contact__list {
      display: flex;
      justify-content: center;
      
    }
  }

  .hero__image {
    position: absolute;
    right: 0;
    top: -10%;
    width: 100%;
    height: 100vh;
    z-index: -1;

    .random--icon {
      position: absolute;
      right: -10rem;
      animation: translate_x 20s ease-out infinite ;

      // opacity: 0;
      z-index: 1;
      .icon {
        font-size: $extra-large-font;
        &:nth-child(1) {
          filter: blur(10px) ;
          position: absolute;
          // left: ;
        }

      }
    }
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }

}

@keyframes translate_x {
  0% {
    transform: translateX(10rem) rotate(-45deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: translateX(-150rem) rotate(0deg);
    opacity: 0;
  }
}