.projects {
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  padding: 1rem;
  
  
  .project__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    

    .project__card {
      width: 105%;
      min-height: 30rem;
      display: flex;
      // flex-direction: column;
      text-align: end;
      position: relative;
      margin: 3rem 0;
      justify-content: space-between;
      align-items: center;
      // align-items: center;
      // width: 30rem;
      // min-height: 30rem;
      overflow: hidden;
      cursor: pointer;

      .project--name {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        font-size: $large-font;
        color: $secondary-color;
        opacity: .6;
        z-index: 1;
      }
      // margin: 1rem;
      // box-shadow: 0 0 20px -5px $secondary-color;
      // outline: 1px solid $secondary-color;
      // border-radius: .5rem;
      .project__screenshot {
        width: 100%;
        height: 20rem;
        position: relative;
        transition: .5s ease-in;

        // margin: 1rem;
        img {
          width: 100%;
          height: inherit;
          object-fit: cover;
        }
      }

      .project__info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        padding: 1rem;
        width: 100%;
        opacity: 0;
        text-align: center;
        background-color: $background2-color;
        height: 100%;
        border-bottom: 1px solid $secondary-color;
        z-index: 1;
        transition: .2s linear;
        h2 {
          font-size: $large-font;
          color: $secondary-color;
          margin: 1rem 0;
        }
        
        p {
          font-size: $regular-font;
          margin: 1rem 0;

          span {
            color: $secondary-color;
          }
        }
        
        h3 {
          text-align: end;
          // margin: 1rem 0;
          color: $secondary-color;
        }
      }

      .technologies__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .technologies__list {
          display: flex;
          // justify-content: flex-end;
          flex-wrap: wrap;
  
          li {
            margin: 1rem;
            color: $secondary-color;
            font-size: $small-font;
            font-weight: $heavy-weigth;
          }
        }
        
        .links {
          a {
            text-decoration: none;
            color: $secondary-color;
            // font-size: $regular-font;
            margin-left: 1rem;

            .icon {
              font-size: $large-font;
            }
            // font-size: $regular-font;
          }
        }
      }

      &:hover .project__info {
        opacity: 1;
      }
      &:hover .project__screenshot {
        opacity: .5;
        filter: blur(.5rem);
      }
      &:hover .project--name {
        display: none;
      }
      // .project__technologies {
      //   width: 100%;
      //   padding: 1rem;
      //   // height: 10rem;
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   .technologies__list {
      //     display: flex;
      //     // justify-content: space-between;
      //     width: 50%;
          
      //     li {
      //       display: flex;
      //       flex-direction: column;
      //       align-items: center;
      //       margin-right: 1rem;
      //     }
      //   }

      //   .project__links {
      //     a {
      //       margin-left: 1rem;
      //       .icon {
      //         color: $secondary-color;
      //       }
      //     }
      //   }
      // }
    }
  }
}