
$main-color: #FAFAFB;
$secondary-color: #0AAEFE;
$secondary-hover-color: #0b74a8;
$third-color: #acacac;
$background-color: #04101B;
$background2-color: #04101b96;

$bottom-fade: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(4,16,27,1) 60%);
$bottom-fade-web: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(4,16,27,1) 60%);
$top-fade: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(4,16,27,1) 76%);
$top-fade-web: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(4,16,27,1) 76%);
$right-fade: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(4,16,27,1) 76%);
$right-fade-web: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(4,16,27,1) 76%);
$left-fade: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(4,16,27,1) 76%);
$left-fade-web: -webkit-linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(4,16,27,1) 76%);


$left-fade-01: moz-linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(4,16,27,1) 76%);
$left-fade-02: webkit-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(4,16,27,1) 76%);
$left-fade-03: -o-linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(4,16,27,1) 76%);
$left-fade-04: -ms-linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(4,16,27,1) 76%);

$box-shadow: 0 0 17px 1px $secondary-color;
$html-color: #d84b24;
// $html-color-active: #D84B24;
$css-color: #2B6CAD;
// $css-color-active: #2B6CAD;
$js-color: #ffe047;
// $js-color-active: #CBB133;
$sass-color: #C26191;
// $sass-color-active: #C26191;
$npm-color: #C13534;
// $npm-color-active: #C13534;
$react-color: #58DAFB;
// $react-color-active: #58DAFB;
$github-color: #272727;
$redux-color: #764ABC;
$debbug-color: #3a92ff;
$linkedin-color: #0A66C2;
$instagram-color: #D62977;

$node-color: #72B254;
$express-color: #3b3b3b;
$mongo-color: #3C9237;
$ts-color: #2F74C0;
$jest-color: #BF3B14;
// $instagram-color: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);

$small-font: 1.1rem;
$regular-font: 1.6rem;
$large-font: 1.8rem;
$extra-large-font: 2.8rem;
$jumbo-font: 3.8rem;

$light-weigth: 300;
$regular-weigth: 400;
$heavy-weigth: 500;


$small-icon: 2rem;
$regular-icon: 3rem;
$large-icon: 5rem;