@import './variables';
@import './reset';
@import './icons';

@import './helpers';
@import './components/hero';
@import './components/experience';
@import './components/skills';
@import './components/projects';
@import './components/about';
@import './components/footer';

@import './queries/hero-query';
@import './queries/skills-query';
@import './queries/projects-query';
@import './queries/helpers-query';

.container {
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
}

.btn {
  width: 7rem;
  height: 3rem;
  border: none;
  outline: none;
  background: none;
}

.btn--outline {
  margin: 1rem;
  outline: 1px solid $secondary-color;
  color: $secondary-color;
}
@media only screen and ( min-width: 768px ) {
  .container {
    width: 80%;
  }
}
@media only screen and ( min-width: 1024px ) {
  .container {
    width: 70%;
  }
}
@media only screen and ( min-width: 1600px ) {
  .container {
    width: 60%;
  }
}
@media only screen and ( min-width: 1920px ) {
  .container {
    width: 50%;
  }
}