@media only screen and ( min-width: 414px ) {
  .skills {
    div {
      .skill__list {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
@media only screen and ( min-width: 768px ) {
  .skills {
    div {
      .skill__list {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media only screen and ( min-width: 1336px ) {
  .skills {
    div {
      .skill__list {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}